@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan untuk efek gradient animasi */
@keyframes gradient-animation {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Untuk animasi teks */
@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animate {
  animation: textAppear 1s ease-out;
}
